@keyframes flash {
    0%, 60%, 100% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

* {
    font-family: 'Inter', serif;
    --unifier-primary-color: #ff6b6b;
    --unifier-green: #11ad79;
    --unifier-skyblue: #87abe0;
    --unifier-yellow: #e4aa54;
    --unifier-orange: #ff8800;
    --unifier-lightred: #ff838c;
    --unifier-gray: #888888;
    --unifier-grey: var(--unifier-gray); /* Alias */
    --natsumi-colors-primary: color-mix(in srgb, var(--element-primary-color, var(--unifier-primary-color)) 50%, black 50%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
    --natsumi-glass-background: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, transparent);
    --natsumi-glass-background-opaque: var(--natsumi-colors-secondary);
    --text-color: color-mix(in srgb, var(--element-primary-color, black) 75%, black);
    --global-transition-time: 0.3s;

    @media (prefers-color-scheme: dark) {
        --natsumi-colors-secondary: color-mix(in srgb, var(--element-primary-color, var(--unifier-primary-color)) 30%, #202020 70%);
        --text-color: color-mix(in srgb, var(--element-primary-color, white) 75%, white);
    }
}

body {
    margin: 0;
    transition: background-color 0.3s ease;
    background-color: color-mix(in srgb, var(--element-primary-color, white) 10%, white);

    @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--element-primary-color, black) 10%, black);
    }

    &:has(#header.online) {
        --element-primary-color: var(--unifier-green);
    }

    &:has(#header.degraded) {
        --element-primary-color: var(--unifier-yellow);
    }

    &:has(#header.partial) {
        --element-primary-color: var(--unifier-orange);
    }

    &:has(#header.down) {
        --element-primary-color: var(--unifier-lightred);
    }

    &:has(#header.maintenance) {
        --element-primary-color: var(--unifier-skyblue);
    }

    &:has(#header.disabled) {
        --element-primary-color: var(--unifier-gray);
    }
}

a {
    color: color-mix(in srgb, var(--unifier-primary-color) 50%, black);
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    position: relative;
    transition: color var(--global-transition-time) ease;

    @media (prefers-color-scheme: dark) {
        color: color-mix(in srgb, var(--unifier-primary-color) 50%, white);
    }

    &::before {
        content: "";
        height: 2px;
        position: absolute;
        background-color: color-mix(in srgb, var(--unifier-primary-color) 50%, black);
        bottom: 0;
        width: 0;
        transition: width var(--global-transition-time) ease, background-color var(--global-transition-time) ease;
        right: 0;

        @media (prefers-color-scheme: dark) {
            background-color: color-mix(in srgb, var(--unifier-primary-color) 50%, white);
        }
    }

    &:hover {
        color: var(--unifier-primary-color);

        &::before {
            width: 100%;
            right: unset;
            background-color: var(--unifier-primary-color);
        }
    }
}

/* Navbar */
#navbar {
    --element-primary-color: var(--unifier-primary-color);
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    width: 60%;
    min-height: 50px;
    height: fit-content;
    left: 50vw;
    translate: -50% 0;
    top: 10px;
    background-color: var(--natsumi-glass-background);
    border-radius: 15px;
    border: 1px solid rgba(20, 20, 20, 0.2) !important;
    box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, black) !important;
    backdrop-filter: blur(15px);
    transition: background-color var(--global-transition-time) ease, border-color var(--global-transition-time) ease, box-shadow var(--global-transition-time) ease;
    z-index: 999;
    flex-wrap: wrap;

    @media (prefers-color-scheme: dark) {
        border-color: rgba(235, 235, 235, 0.3) !important;
        box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, white) !important;
    }

    @media screen and (max-width: 850px) {
        width: 80vw;
    }

    a {
        &#logo {
            padding: 14px 0;
            text-decoration: none;

            img {
                height: 24px;
                vertical-align: middle;

                @media (prefers-color-scheme: light) {
                    filter: invert();
                }
            }

            &::before {
                display: none;
            }
        }
    }

    p {
        text-align: center;
    }

    #navbar-mobile-toggle {
        display: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-left: auto;
        border-radius: 6px;
        transition: background-color var(--global-transition-time) ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.2);
        }

        #navbar-mobile-toggle-icon {
            width: 20px;
            height: 20px;
            background-size: 20px;
            margin: 2px;
            background-image: url("/assets/images/menu.svg");
        }

        &.active {
            #navbar-mobile-toggle-icon {
                background-image: url("/assets/images/cross.svg");
            }
        }

        @media (prefers-color-scheme: dark) {
            #navbar-mobile-toggle-icon {
                filter: invert();
            }
        }

        @media screen and (max-width: 850px) {
            display: block;
        }
    }

    #navbar-links-container {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .navbar-link {
            margin-left: 10px;
        }

        @media screen and (max-width: 850px) {
            flex-wrap: wrap;
            flex-basis: 100%;
            padding-bottom: 20px;
            transition: padding-bottom var(--global-transition-time) ease;
            max-height: 50%;
            overflow-y: scroll;

            .navbar-link {
                margin: 0;
                padding: 10px;
                position: relative;
                width: 100%;
                flex-basis: 100%;
                box-sizing: border-box;
                border-radius: 6px;
                overflow: hidden;
                transition: font-size var(--global-transition-time) ease, padding var(--global-transition-time) ease, opacity var(--global-transition-time) ease;

                &::before {
                    height: 100%;
                    right: 0;
                    z-index: -1;
                }

                &:hover {
                    color: white;

                    &::before {
                        left: 0;
                    }
                }
            }

            &:not(.active) {
                padding-bottom: 0;

                .navbar-link {
                    font-size: 0;
                    padding: 0;
                    opacity: 0;
                }
            }
        }
    }
}

#header {
    margin-top: 60px;
    padding: 50px 10px;
    text-align: center;

    #header-image {
        width: 100px;
    }

    #header-title {
        font-size: 36px;
        font-weight: bold;
        margin: 20px 0;
        text-decoration: underline;
        text-decoration-thickness: 5px;
        color: var(--text-color);
    }

    #header-text {
        font-size: 16px;
        color: var(--text-color);
    }
}

.status-group {
    margin: 20px 20%;
    border-radius: 10px;
    background-color: var(--natsumi-glass-background);
    border: 1px solid rgba(20, 20, 20, 0.2) !important;
    box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, black) !important;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
        border-color: rgba(235, 235, 235, 0.3) !important;
        box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, white) !important;
    }

    @media screen and (max-width: 700px) {
        margin: 20px 5%;
    }

    &.online {
        --element-primary-color: var(--unifier-green);

        .group-status-badge {
            background-image: url("/assets/images/online.svg");
        }
    }

    &.degraded {
        --element-primary-color: var(--unifier-yellow);

        .group-status-badge {
            background-image: url("/assets/images/degraded.svg");
        }
    }

    &.partial {
        --element-primary-color: var(--unifier-orange);

        .group-status-badge {
            background-image: url("/assets/images/partial.svg");
        }
    }

    &.down {
        --element-primary-color: var(--unifier-lightred);

        .group-status-badge {
            background-image: url("/assets/images/down.svg");
        }
    }

    &.maintenance {
        --element-primary-color: var(--unifier-skyblue);

        .group-status-badge {
            background-image: url("/assets/images/maintenance.svg");
        }
    }

    .group-info-container {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 8px;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &.hidden {
            .group-toggle {
                transform: rotate(0);
            }
        }

        .group-name, .group-status-badge, .group-status-text, .group-toggle {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
        }

        .group-name, .group-status-text {
            color: var(--text-color);
        }

        .group-name {
            flex-grow: 1;
        }

        .group-status-badge {
            min-width: 20px;
            min-height: 20px;
            background-size: 20px;
            margin-right: 10px;
            animation: flash 3s ease-in-out infinite;

            @media screen and (max-width: 700px) {
                display: none;
            }
        }

        .group-status-text {
            font-family: 'JetBrains Mono', monospace;
            margin-left: 10px;

            span {
                font-family: 'JetBrains Mono', monospace;

                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }

        .group-toggle {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            border-radius: 6px;
            background-image: url("/assets/images/toggle.svg");
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
            transform: rotate(180deg);
            transition: transform 0.3s ease;

            @media (prefers-color-scheme: dark) {
                filter: invert();
            }
        }
    }

    .group-status-container {
        opacity: 1;
        transition: margin-bottom 0.3s ease;
        flex-basis: 100%;
        padding: 0 20px !important;
        margin-bottom: 20px;

        .status {
            padding: 20px;
            border-radius: 10px;
            background-color: var(--natsumi-glass-background-opaque);
            border: 1px solid rgba(20, 20, 20, 0.2);
            box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, black);
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 10px;
            transition: 0.3s ease;

            .status-info-container {
                display: flex;
                flex-wrap: nowrap;
                transition: 0.3s ease;
                height: fit-content;
                width: 100%;

                & > * {
                    transition: 0.3s ease;
                }
            }

            @media (prefers-color-scheme: dark) {
                border-color: rgba(235, 235, 235, 0.3) !important;
                box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, white) !important;
            }

            &:has(.status-badge.online) {
                --element-primary-color: var(--unifier-green);

                .status-badge {
                    background-image: url("/assets/images/online.svg");
                }
            }

            &:has(.status-badge.degraded) {
                --element-primary-color: var(--unifier-yellow);

                .status-badge {
                    background-image: url("/assets/images/degraded.svg");
                }
            }

            &:has(.status-badge.partial) {
                --element-primary-color: var(--unifier-orange);

                .status-badge {
                    background-image: url("/assets/images/partial.svg");
                }
            }

            &:has(.status-badge.down) {
                --element-primary-color: var(--unifier-lightred);

                .status-badge {
                    background-image: url("/assets/images/down.svg");
                }

                .status-ping {
                    display: none;
                }
            }

            &:has(.status-badge.maintenance) {
                --element-primary-color: var(--unifier-skyblue);

                .status-badge {
                    background-image: url("/assets/images/maintenance.svg");
                }
            }

            &:has(.status-badge.disabled) {
                --element-primary-color: var(--unifier-gray);

                .status-badge {
                    background-image: url("/assets/images/offline.svg");
                }

                .status-ping {
                    display: none;
                }
            }

            & > * {
                transition: 0.3s ease;
            }

            .status-badge, .status-name, .status-text, .status-ping {
                margin-top: auto !important;
                margin-bottom: auto !important;
            }

            .status-name, .status-text, .status-ping {
                color: var(--text-color);
            }

            .status-name {
                flex-grow: 1;
            }

            .status-badge {
                min-width: 20px;
                min-height: 20px;
                background-size: 20px;
                margin-right: 10px;
                animation: flash 3s ease-in-out infinite;
            }

            .status-text, .status-ping {
                font-family: 'JetBrains Mono', monospace;
                margin-left: 10px;

                @media screen and (max-width: 700px) {
                    display: none;
                }
            }

            .status-ping {
                border-radius: 4px;
                padding: 2px;
                background-color: rgba(0, 0, 0, 0.1);

                @media (prefers-color-scheme: dark) {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                &.hidden {
                    display: none;
                }
            }

            .status-history {
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
                width: 100%;
                height: 150px;
                justify-content: flex-end;
                margin-top: 20px;

                .history-info {
                    display: none;
                    position: fixed;
                    width: 250px;
                    height: fit-content;
                    background-color: white;
                    z-index: 999;
                    padding: 10px;
                    border-radius: 6px;
                    color: var(--text-color);
                    border: 1px solid rgba(20, 20, 20, 0.2) !important;

                    &.history-online {
                        --element-primary-color: var(--unifier-green);

                        .history-info-badge {
                            background-image: url("/assets/images/online.svg");
                        }
                    }

                    &.history-degraded {
                        --element-primary-color: var(--unifier-yellow);

                        .history-info-badge {
                            background-image: url("/assets/images/degraded.svg");
                        }
                    }

                    &.history-partial {
                        --element-primary-color: var(--unifier-orange);

                        .history-info-badge {
                            background-image: url("/assets/images/partial.svg");
                        }
                    }

                    &.history-down {
                        --element-primary-color: var(--unifier-lightred);

                        .history-info-badge {
                            background-image: url("/assets/images/down.svg");
                        }
                    }

                    &.history-maintenance {
                        --element-primary-color: var(--unifier-skyblue);

                        .history-info-badge {
                            background-image: url("/assets/images/maintenance.svg");
                        }
                    }

                    &.history-disabled {
                        --element-primary-color: var(--unifier-gray);

                        .history-info-badge {
                            background-image: url("/assets/images/offline.svg");
                        }
                    }

                    @media (prefers-color-scheme: dark) {
                        background-color: black;
                        border-color: rgba(235, 235, 235, 0.3) !important;
                    }

                    .history-info-status-container {
                        display: flex;

                        .history-info-badge {
                            width: 20px;
                            height: 20px;
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-right: 5px;
                            background-size: 20px;
                        }

                        .history-info-text {
                            font-family: 'JetBrains Mono', monospace;
                        }
                    }

                    .history-info-ping {
                        margin: 10px 0;
                        font-family: "JetBrains Mono", monospace;
                        font-size: 24px;
                    }

                    .history-info-time {
                        color: gray;
                        font-size: 12px;
                    }
                }

                &.hidden {
                    display: none;
                }

                &:hover:has(.history:hover) {
                    .history-info {
                        display: block;
                    }
                }

                .history {
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    &.online {
                        --element-primary-color: var(--unifier-green);
                    }

                    &.degraded {
                        --element-primary-color: var(--unifier-yellow);
                    }

                    &.partial {
                        --element-primary-color: var(--unifier-orange);
                    }

                    &.down {
                        --element-primary-color: var(--unifier-lightred);
                    }

                    &.maintenance {
                        --element-primary-color: var(--unifier-skyblue);
                    }

                    .history-bar {
                        width: 100%;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 150px;
                            background: linear-gradient(to top, color-mix(in srgb, var(--element-primary-color) 25%, transparent), var(--element-primary-color));
                            position: absolute;
                            bottom: 0;
                        }

                        &::after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            background-color: white;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
        }

        &.hidden {
            margin-bottom: 0;

            .status {
                margin: 0;
                padding: 0;
                border: none;
                opacity: 0;

                .status-badge {
                    min-width: 0;
                    min-height: 0;
                    background-size: 0;
                }

                .status-name, .status-text, .status-ping {
                    opacity: 0;
                    font-size: 0;
                    margin: 0 !important;
                    padding: 0;
                }

                .status-history {
                    margin-top: 0;
                    height: 0;
                }

                & > * {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

/* Disable history graph if disabled */
#main-container[disable-history] .status-history {
    display: none;
}

/* Toggles */
.toggle {
    --element-primary-color: var(--unifier-primary-color);
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    max-width: 80%;

    .toggle-button {
        display: inline-block;
        cursor: pointer;
        min-width: 52px;
        min-height: 26px;
        padding: 2px;
        border-radius: 13px;
        background-color: var(--natsumi-glass-background);
        transition: background-color var(--global-transition-time) ease;
        box-sizing: border-box;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, black) !important;

        @media (prefers-color-scheme: dark) {
            border-color: rgba(235, 235, 235, 0.3) !important;
            box-shadow: 0 0 10px color-mix(in srgb, var(--natsumi-colors-secondary) 75%, white) !important;
        }

        .toggle-button-circle {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: white;
            transition: left var(--global-transition-time) ease,
                        scale var(--global-transition-time) ease,
                        width var(--global-transition-time) ease;
            position: relative;
            left: 0;
        }

        &:active {
            .toggle-button-circle {
                scale: 0.8;
                width: 28px;
            }
        }
    }

    .toggle-text {
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;
        text-align: left;
        transition: background-position var(--global-transition-time) ease;
        color: transparent;
        background: linear-gradient(to left, var(--unifier-primary-color) 33%, var(--unifier-green) 66%) 100% 0;
        background-size: 300% 100%;
        background-clip: text;
    }

    &.active {
        --element-primary-color: var(--unifier-green);

        .toggle-button {
            .toggle-button-circle {
                left: 24px;
            }

            &:active {
                .toggle-button-circle {
                    left: 16px;
                }
            }
        }

        .toggle-text {
            background-position: 0;
        }
    }
}

#settings-container {
    text-align: center;
}

#footer {
    text-align: center;
    padding: 20px;

    #footer-text {
        color: #aaa;
    }
}